# In deze analyse zullen we voor een fruitteler gaan kijken hoeveel de beste man goedkoper uit is met een dynamisch energiecontract versus zijn huidige contract.

Wat basis informatie over de desbetreffende potentiële klant:


Totaal Opgewekte Energie: 900.000 kWh
Zelf Verbruikte Energie: 450.000 kWh
Totaal Verbruik: Tussen 1.400.000 kWh en 1.500.000 kWh
Aansluitingen: 1 Grootverbruik (GV) en 2 Kleinverbruik (KV)
Huidig Energiecontract: Tot 31-12-2024 met van Helden Energie


we hebben een excel bestand aangeleverd gekregen met: bestand van de uurwaarde van vorige week met bijbehorende afname en welk volume schakelbaar is in tabel weergegeven & een csv met een lijn grafiek.

In [7]:
import pandas as pd
import openpyxl

In [9]:
df = pd.read_excel('Consumptie_kwartierdata_2023.xlsx') 
df

,EAN,871689260011372078 37783710,871689260011372078 37783710.1,871689260011372078 56218621,871689260011372078 56218621.1,871689260011372078 63086613,871689260011372078 63086613.1
0,Datum-tijd tot,Elektriciteit Consumptie (kWh),Blindverbruik Consumptie (kVARh),Elektriciteit Consumptie (kWh),Blindverbruik Consumptie (kVARh),Elektriciteit Consumptie (kWh),Blindverbruik Consumptie (kVARh)
1,2023-01-01 00:15:00,27.8,13.6,0,0,NaN,NaN
2,2023-01-01 00:30:00,30.3,14,0,0,NaN,NaN
3,2023-01-01 00:45:00,44,26.1,0,0,NaN,NaN
4,2023-01-01 01:00:00,38.5,24.8,0,0,NaN,NaN
...,...,...,...,...,...,...,...
35036,2023-12-31 23:00:00,20.5,7.5,0,0,0,0
35037,2023-12-31 23:15:00,25.9,8.8,0,0,0,0
35038,2023-12-31 23:30:00,22.1,7.4,0,0,0,0
35039,2023-12-31 23:45:00,20.6,7.5,0,0,0,0
35040,2024-01-01 00:00:00,44.1,25.6,0,0,0,0.1

In [ ]:
df[['col1', 'col2']] = df[['col1', 'col2']].fillna(0)