# In deze analyse zullen we voor een fruitteler gaan kijken hoeveel de beste man goedkoper uit is met een dynamisch energiecontract versus zijn huidige contract.

Wat basis informatie over de desbetreffende potentiële klant:


Totaal Opgewekte Energie: 900.000 kWh
Zelf Verbruikte Energie: 450.000 kWh
Totaal Verbruik: Tussen 1.400.000 kWh en 1.500.000 kWh
Aansluitingen: 1 Grootverbruik (GV) en 2 Kleinverbruik (KV)
Huidig Energiecontract: Tot 31-12-2024 met van Helden Energie


we hebben een excel bestand aangeleverd gekregen met: bestand van de uurwaarde van vorige week met bijbehorende afname en welk volume schakelbaar is in tabel weergegeven & een csv met een lijn grafiek.

In [1]:
import pandas as pd
import openpyxl

In [2]:
df = pd.read_excel('Consumptie_kwartierdata_2023.xlsx', skiprows=[0])
df

,Datum-tijd tot,Elektriciteit Consumptie (kWh),Blindverbruik Consumptie (kVARh),Elektriciteit Consumptie (kWh).1,Blindverbruik Consumptie (kVARh).1,Elektriciteit Consumptie (kWh).2,Blindverbruik Consumptie (kVARh).2
0,2023-01-01 00:15:00,27.8,13.6,0,0.0,NaN,NaN
1,2023-01-01 00:30:00,30.3,14.0,0,0.0,NaN,NaN
2,2023-01-01 00:45:00,44.0,26.1,0,0.0,NaN,NaN
3,2023-01-01 01:00:00,38.5,24.8,0,0.0,NaN,NaN
4,2023-01-01 01:15:00,26.6,11.3,0,0.0,NaN,NaN
...,...,...,...,...,...,...,...
35035,2023-12-31 23:00:00,20.5,7.5,0,0.0,0.0,0.0
35036,2023-12-31 23:15:00,25.9,8.8,0,0.0,0.0,0.0
35037,2023-12-31 23:30:00,22.1,7.4,0,0.0,0.0,0.0
35038,2023-12-31 23:45:00,20.6,7.5,0,0.0,0.0,0.0
35039,2024-01-01 00:00:00,44.1,25.6,0,0.0,0.0,0.1

prima dataset zo echter moeten we nog het een en ander schoonmaken voordat we verder gaan met calculaties
We gaan de NaN values omzetten naar het getal 0. Dit is mogelijk omdat er geen data beschikbaar is voor die records maar 0 voldoet als alternatief om een sommatie mogelijk te maken.

- eerste kijken we waar nan values zitten
- vervolgens vervangen we de nan values met 0

vervolgens:

een powerfactor van 0.8 gebruiken voor het omrekenen van kVARh naar kWh om een inschatting van kostenbesparing en nieuwe df gefabriceerd genaamd kwh_df.

In [3]:
nan_df = df.isna()
df_clean = df.fillna(0)
df_clean

#factor to multiply the kVARH columns with is 0.8 so:
columns_to_multiply = ['Blindverbruik Consumptie (kVARh)', 'Blindverbruik Consumptie (kVARh).1','Blindverbruik Consumptie (kVARh).2']
factor = 0.8

kwh_df = df_clean

for column in columns_to_multiply:
    kwh_df[column] = kwh_df[column] * factor

kwh_df

,Datum-tijd tot,Elektriciteit Consumptie (kWh),Blindverbruik Consumptie (kVARh),Elektriciteit Consumptie (kWh).1,Blindverbruik Consumptie (kVARh).1,Elektriciteit Consumptie (kWh).2,Blindverbruik Consumptie (kVARh).2
0,2023-01-01 00:15:00,27.8,10.88,0,0.0,0.0,0.00
1,2023-01-01 00:30:00,30.3,11.20,0,0.0,0.0,0.00
2,2023-01-01 00:45:00,44.0,20.88,0,0.0,0.0,0.00
3,2023-01-01 01:00:00,38.5,19.84,0,0.0,0.0,0.00
4,2023-01-01 01:15:00,26.6,9.04,0,0.0,0.0,0.00
...,...,...,...,...,...,...,...
35035,2023-12-31 23:00:00,20.5,6.00,0,0.0,0.0,0.00
35036,2023-12-31 23:15:00,25.9,7.04,0,0.0,0.0,0.00
35037,2023-12-31 23:30:00,22.1,5.92,0,0.0,0.0,0.00
35038,2023-12-31 23:45:00,20.6,6.00,0,0.0,0.0,0.00
35039,2024-01-01 00:00:00,44.1,20.48,0,0.0,0.0,0.08

In [22]:
#Optellen van het vebruik zodat het duidelijk is of de ramingen van ray eenigzins overeenkomen met de aangeleverde data.
Total_consumptie1 = kwh_df['Elektriciteit Consumptie (kWh)'].sum()
Total_consumptie2 = kwh_df['Elektriciteit Consumptie (kWh).1'].sum()
Total_consumptie3 = kwh_df['Elektriciteit Consumptie (kWh).2'].sum()
Total_kVARH1 = kwh_df['Blindverbruik Consumptie (kVARh)'].sum()
Total_kVARH2 = kwh_df['Blindverbruik Consumptie (kVARh).1'].sum()
Total_kVARH3 = kwh_df['Blindverbruik Consumptie (kVARh).2'].sum()

total_consumptie = Total_consumptie1 + Total_consumptie2 + Total_consumptie3
total_kVARH = Total_kVARH1 + Total_kVARH2 + Total_kVARH3

print(f'Total consumptie: {total_consumptie}')
print(f'Total kVARH: {total_kVARH}')

Total consumptie: 939383.5
Total kVARH: 557545.3992

volgende stap is het sommeren van de kwartierdata zodat het vebruik per uur wordt invm het joinen van de marktprijs uit de db. 


Hiervoor gaan we groupby functie gebruiken op alle tabllen die een kwh value hebben.

In [5]:
kwh_df['Datum-tijd tot'] = pd.to_datetime(kwh_df['Datum-tijd tot'], format='%d-%m-%Y %H:%M')

# Voeg een nieuwe kolom toe met de afgeronde tijden naar het dichtstbijzijnde uur
kwh_df['Datum-tijd uur'] = kwh_df['Datum-tijd tot'].dt.ceil('H')

kwh_df_hourly = kwh_df.groupby('Datum-tijd uur').agg({
    
    'Elektriciteit Consumptie (kWh)': 'sum',
    'Blindverbruik Consumptie (kVARh)': 'sum',
    'Elektriciteit Consumptie (kWh).1': 'sum',
    'Blindverbruik Consumptie (kVARh).1': 'sum',
    'Elektriciteit Consumptie (kWh).2': 'sum',
    'Blindverbruik Consumptie (kVARh).2': 'sum'

    }).reset_index()


kwh_df_hourly.rename(columns={'Datum-tijd uur' : 'StartDate'}, inplace=True)

# Toon het resulterende DataFrame
kwh_df_hourly

,StartDate,Elektriciteit Consumptie (kWh),Blindverbruik Consumptie (kVARh),Elektriciteit Consumptie (kWh).1,Blindverbruik Consumptie (kVARh).1,Elektriciteit Consumptie (kWh).2,Blindverbruik Consumptie (kVARh).2
0,2023-01-01 01:00:00,140.6,62.80,0,0.0,0.0,0.00
1,2023-01-01 02:00:00,137.1,59.84,0,0.0,0.0,0.00
2,2023-01-01 03:00:00,143.9,51.76,0,0.0,0.0,0.00
3,2023-01-01 04:00:00,154.6,66.96,0,0.0,0.0,0.00
4,2023-01-01 05:00:00,154.4,78.32,0,0.0,0.0,0.00
...,...,...,...,...,...,...,...
8755,2023-12-31 20:00:00,107.9,41.68,0,0.0,0.0,0.00
8756,2023-12-31 21:00:00,108.0,37.84,0,0.0,0.0,0.00
8757,2023-12-31 22:00:00,111.1,40.08,0,0.0,0.0,0.00
8758,2023-12-31 23:00:00,106.2,40.16,0,0.0,0.0,0.00
8759,2024-01-01 00:00:00,112.7,39.44,0,0.0,0.0,0.08

In [6]:
mp = pd.read_csv('marktprijzen_2023.csv')

mp["StartDate"] = mp["StartDate"].astype("datetime64[ns]")

We willen nu ook nog opslagen erbij toevoegen om zo een realistischer beeld te geven van de kosten. We zullen daarom per kwh het volgende erbij rekenen. We weten uit de vorige cell dat we 1496928.8992 aan kWh's hebben over 2023.

Onbalanskosten = 0.00857 per kwh
CvO opslag = 0.006 per kwh
Marge EH wordt door Sales bepaald

In [7]:
opslag_kosten =  1496928.8992 * (0.00857 + 0.006)
opslag_kosten

21810.254061344

In [8]:
# nu gaan we door naar de grote df join show

full_df = kwh_df_hourly.join(mp, how='inner', lsuffix='kwh_df_hourly', rsuffix='mp')

full_df = full_df.drop('StartDatemp', axis=1)


#full_df.to_excel("consumptie_per_uur_marktprijs_2023.xlsx")

full_df

,StartDatekwh_df_hourly,Elektriciteit Consumptie (kWh),Blindverbruik Consumptie (kVARh),Elektriciteit Consumptie (kWh).1,Blindverbruik Consumptie (kVARh).1,Elektriciteit Consumptie (kWh).2,Blindverbruik Consumptie (kVARh).2,Price_kWh
0,2023-01-01 01:00:00,140.6,62.80,0,0.0,0.0,0.00,-0.00146
1,2023-01-01 02:00:00,137.1,59.84,0,0.0,0.0,0.00,-0.00152
2,2023-01-01 03:00:00,143.9,51.76,0,0.0,0.0,0.00,-0.00500
3,2023-01-01 04:00:00,154.6,66.96,0,0.0,0.0,0.00,-0.00460
4,2023-01-01 05:00:00,154.4,78.32,0,0.0,0.0,0.00,-0.00405
...,...,...,...,...,...,...,...,...
8755,2023-12-31 20:00:00,107.9,41.68,0,0.0,0.0,0.00,0.03489
8756,2023-12-31 21:00:00,108.0,37.84,0,0.0,0.0,0.00,0.01330
8757,2023-12-31 22:00:00,111.1,40.08,0,0.0,0.0,0.00,0.01068
8758,2023-12-31 23:00:00,106.2,40.16,0,0.0,0.0,0.00,0.00317
8759,2024-01-01 00:00:00,112.7,39.44,0,0.0,0.0,0.08,0.00010

In [9]:
# dan gaan we nu door naar het berkenene van de prijzen van de consumptie


price_df = full_df[['Elektriciteit Consumptie (kWh)', 'Blindverbruik Consumptie (kVARh)', 'Elektriciteit Consumptie (kWh).1', 'Blindverbruik Consumptie (kVARh).1', 'Elektriciteit Consumptie (kWh).2', 'Blindverbruik Consumptie (kVARh).2']].multiply(full_df["Price_kWh"], axis="index")
price_df['StartDatekwh_df_hourly'] = full_df['StartDatekwh_df_hourly']

first_column = price_df.pop('StartDatekwh_df_hourly')
price_df.insert(0, 'StartDatekwh_df_hourly', first_column)

price_df

,StartDatekwh_df_hourly,Elektriciteit Consumptie (kWh),Blindverbruik Consumptie (kVARh),Elektriciteit Consumptie (kWh).1,Blindverbruik Consumptie (kVARh).1,Elektriciteit Consumptie (kWh).2,Blindverbruik Consumptie (kVARh).2
0,2023-01-01 01:00:00,-0.205276,-0.091688,-0.0,-0.0,-0.0,-0.000000
1,2023-01-01 02:00:00,-0.208392,-0.090957,-0.0,-0.0,-0.0,-0.000000
2,2023-01-01 03:00:00,-0.719500,-0.258800,-0.0,-0.0,-0.0,-0.000000
3,2023-01-01 04:00:00,-0.711160,-0.308016,-0.0,-0.0,-0.0,-0.000000
4,2023-01-01 05:00:00,-0.625320,-0.317196,-0.0,-0.0,-0.0,-0.000000
...,...,...,...,...,...,...,...
8755,2023-12-31 20:00:00,3.764631,1.454215,0.0,0.0,0.0,0.000000
8756,2023-12-31 21:00:00,1.436400,0.503272,0.0,0.0,0.0,0.000000
8757,2023-12-31 22:00:00,1.186548,0.428054,0.0,0.0,0.0,0.000000
8758,2023-12-31 23:00:00,0.336654,0.127307,0.0,0.0,0.0,0.000000
8759,2024-01-01 00:00:00,0.011270,0.003944,0.0,0.0,0.0,0.000008

In [10]:
#sommeren van de columns om tataal te krijgen. 
Total_consumptie1 = price_df['Elektriciteit Consumptie (kWh)'].sum()
Total_consumptie2 = price_df['Elektriciteit Consumptie (kWh).1'].sum()
Total_consumptie3 = price_df['Elektriciteit Consumptie (kWh).2'].sum()

Total_kVARH1 =  price_df['Blindverbruik Consumptie (kVARh)'].sum()
Total_kVARH2 =  price_df['Blindverbruik Consumptie (kVARh).1'].sum()
Total_kVARH3 =  price_df['Blindverbruik Consumptie (kVARh).2'].sum()

print(Total_consumptie1)
print(Total_consumptie2)
print(Total_consumptie3)
print(Total_kVARH1)
print(Total_kVARH2)
print(Total_kVARH3)

prijs_totaal = (Total_consumptie1 + Total_consumptie2 + Total_consumptie3 + Total_kVARH1 + Total_kVARH2 + Total_kVARH3) + opslag_kosten

prijs_round = prijs_totaal.round(2)
print(f'In het jaar 2023 met een marktprijscontract zouden de totale kosten voor Consumptie: € {prijs_round} zijn geweest')

97944.50061422
0.0
0.0
53861.599232839995
1.5280088000000003
74.1381216
In het jaar 2023 met een marktprijscontract zouden de totale kosten voor Consumptie: € 173692.02 zijn geweest