In [1]:
import pandas as pd
import openpyxl

In [2]:
df = pd.read_excel('2024_verbruik.xlsx', skiprows=[0])
df

,Datum-tijd tot,Elektriciteit Consumptie (kWh),Blindverbruik Consumptie (kVARh),Elektriciteit Consumptie (kWh).1,Blindverbruik Consumptie (kVARh).1,Elektriciteit Consumptie (kWh).2,Blindverbruik Consumptie (kVARh).2
0,2024-01-01 01:00:00,17.1,5.4,0,0.0,0,0.0
1,2024-01-01 01:15:00,16.9,5.2,0,0.0,0,0.0
2,2024-01-01 01:30:00,48.5,31.0,0,0.0,0,0.0
3,2024-01-01 01:45:00,18.3,6.7,0,0.0,0,0.0
4,2024-01-01 02:00:00,17.9,5.6,0,0.0,0,0.0
...,...,...,...,...,...,...,...
17460,2024-06-30 23:00:00,32.0,19.1,0,0.0,0,0.0
17461,2024-06-30 23:15:00,43.9,25.1,0,0.0,0,0.0
17462,2024-06-30 23:30:00,33.9,16.8,0,0.0,0,0.0
17463,2024-06-30 23:45:00,30.2,17.3,0,0.0,0,0.0
17464,2024-07-01 00:00:00,35.2,16.7,0,0.0,0,0.1

In [3]:
nan_df = df.isna()
df_clean = df.fillna(0)
df_clean

#factor to multiply the kVARH columns with is 0.8 so:
columns_to_multiply = ['Blindverbruik Consumptie (kVARh)', 'Blindverbruik Consumptie (kVARh).1','Blindverbruik Consumptie (kVARh).2']
factor = 0.8

kwh_df = df_clean

for column in columns_to_multiply:
    kwh_df[column] = kwh_df[column] * factor

kwh_df

,Datum-tijd tot,Elektriciteit Consumptie (kWh),Blindverbruik Consumptie (kVARh),Elektriciteit Consumptie (kWh).1,Blindverbruik Consumptie (kVARh).1,Elektriciteit Consumptie (kWh).2,Blindverbruik Consumptie (kVARh).2
0,2024-01-01 01:00:00,17.1,4.32,0,0.0,0,0.00
1,2024-01-01 01:15:00,16.9,4.16,0,0.0,0,0.00
2,2024-01-01 01:30:00,48.5,24.80,0,0.0,0,0.00
3,2024-01-01 01:45:00,18.3,5.36,0,0.0,0,0.00
4,2024-01-01 02:00:00,17.9,4.48,0,0.0,0,0.00
...,...,...,...,...,...,...,...
17460,2024-06-30 23:00:00,32.0,15.28,0,0.0,0,0.00
17461,2024-06-30 23:15:00,43.9,20.08,0,0.0,0,0.00
17462,2024-06-30 23:30:00,33.9,13.44,0,0.0,0,0.00
17463,2024-06-30 23:45:00,30.2,13.84,0,0.0,0,0.00
17464,2024-07-01 00:00:00,35.2,13.36,0,0.0,0,0.08

In [4]:
#Optellen van het vebruik zodat het duidelijk is of de ramingen van ray eenigzins overeenkomen met de aangeleverde data.
Total_consumptie1 = kwh_df['Elektriciteit Consumptie (kWh)'].sum()
Total_consumptie2 = kwh_df['Elektriciteit Consumptie (kWh).1'].sum()
Total_consumptie3 = kwh_df['Elektriciteit Consumptie (kWh).2'].sum()
Total_kVARH1 = kwh_df['Blindverbruik Consumptie (kVARh)'].sum()
Total_kVARH2 = kwh_df['Blindverbruik Consumptie (kVARh).1'].sum()
Total_kVARH3 = kwh_df['Blindverbruik Consumptie (kVARh).2'].sum()

total_consumptie = Total_consumptie1 + Total_consumptie2 + Total_consumptie3
total_kVARH = Total_kVARH1 + Total_kVARH2 + Total_kVARH3

print(f'Total consumptie: {total_consumptie}')
print(f'Total kVARH: {total_kVARH}')

totaal = total_consumptie + total_kVARH
print(totaal)

Total consumptie: 359626.375
Total kVARH: 240238.7056
599865.0806

In [5]:
# Convert the datetime column
kwh_df['Datum-tijd tot'] = pd.to_datetime(kwh_df['Datum-tijd tot'])

# Add a new column with the rounded times to the nearest hour
kwh_df['Datum-tijd uur'] = kwh_df['Datum-tijd tot'].dt.floor('H')

# Aggregate the data by the new hour column
kwh_df_hourly = kwh_df.groupby('Datum-tijd uur').agg({
    'Elektriciteit Consumptie (kWh)': 'sum',
    'Blindverbruik Consumptie (kVARh)': 'sum',
    'Elektriciteit Consumptie (kWh).1': 'sum',
    'Blindverbruik Consumptie (kVARh).1': 'sum',
    'Elektriciteit Consumptie (kWh).2': 'sum',
    'Blindverbruik Consumptie (kVARh).2': 'sum'
}).reset_index()

# Rename the aggregated column for clarity
kwh_df_hourly.rename(columns={'Datum-tijd uur': 'StartDate'}, inplace=True)

# Show the resulting DataFrame
kwh_df_hourly

,StartDate,Elektriciteit Consumptie (kWh),Blindverbruik Consumptie (kVARh),Elektriciteit Consumptie (kWh).1,Blindverbruik Consumptie (kVARh).1,Elektriciteit Consumptie (kWh).2,Blindverbruik Consumptie (kVARh).2
0,2024-01-01 01:00:00,100.8,38.64,0,0.00,0,0.00
1,2024-01-01 02:00:00,107.1,40.88,0,0.00,0,0.00
2,2024-01-01 03:00:00,124.1,48.56,0,0.00,0,0.00
3,2024-01-01 04:00:00,96.8,36.96,0,0.00,0,0.00
4,2024-01-01 05:00:00,103.7,41.04,0,0.00,0,0.00
...,...,...,...,...,...,...,...
4362,2024-06-30 20:00:00,99.0,61.68,0,0.00,0,0.16
4363,2024-06-30 21:00:00,137.5,61.76,0,0.08,0,0.00
4364,2024-06-30 22:00:00,133.7,54.96,0,0.00,0,0.00
4365,2024-06-30 23:00:00,140.0,62.64,0,0.00,0,0.00
4366,2024-07-01 00:00:00,35.2,13.36,0,0.00,0,0.08

In [6]:
# Bereken de som van de specifieke kolommen
sum_columns = kwh_df_hourly[['Elektriciteit Consumptie (kWh)', 'Blindverbruik Consumptie (kVARh)', 
                             'Elektriciteit Consumptie (kWh).1', 'Blindverbruik Consumptie (kVARh).1', 
                             'Elektriciteit Consumptie (kWh).2', 'Blindverbruik Consumptie (kVARh).2']].sum()

# Bereken de totale som van alle kolommen
total_sum = sum_columns.sum()

# Toon de som van de kolommen en de totale som
print("Som van elke kolom:")
print(sum_columns)
print("\nTotale som van alle kolommen bij elkaar:")
print(total_sum)

Som van elke kolom:
Elektriciteit Consumptie (kWh)        359626.3750
Blindverbruik Consumptie (kVARh)      238938.2256
Elektriciteit Consumptie (kWh).1           0.0000
Blindverbruik Consumptie (kVARh).1         7.1200
Elektriciteit Consumptie (kWh).2           0.0000
Blindverbruik Consumptie (kVARh).2      1293.3600
dtype: float64

Totale som van alle kolommen bij elkaar:
599865.0806

In [7]:
mp = pd.read_csv('marktprijzen_2024.csv')

#mp["StartDate"] = mp["StartDate"].astype("datetime64[ns]")

mp

,StartDate,EndDate,marktprijs
0,2024-01-01 01:00:00.0000000 +01:00,2024-01-01 02:00:00.0000000 +01:00,0.00001
1,2024-01-01 02:00:00.0000000 +01:00,2024-01-01 03:00:00.0000000 +01:00,0.00000
2,2024-01-01 03:00:00.0000000 +01:00,2024-01-01 04:00:00.0000000 +01:00,-0.00001
3,2024-01-01 04:00:00.0000000 +01:00,2024-01-01 05:00:00.0000000 +01:00,-0.00003
4,2024-01-01 05:00:00.0000000 +01:00,2024-01-01 06:00:00.0000000 +01:00,-0.00002
...,...,...,...
5225,2024-08-05 19:00:00.0000000 +02:00,2024-08-05 20:00:00.0000000 +02:00,0.15134
5226,2024-08-05 20:00:00.0000000 +02:00,2024-08-05 21:00:00.0000000 +02:00,0.24523
5227,2024-08-05 21:00:00.0000000 +02:00,2024-08-05 22:00:00.0000000 +02:00,0.17093
5228,2024-08-05 22:00:00.0000000 +02:00,2024-08-05 23:00:00.0000000 +02:00,0.11994
5229,2024-08-05 23:00:00.0000000 +02:00,2024-08-06 00:00:00.0000000 +02:00,0.10275

In [8]:
# nu gaan we door naar de grote df join show

full_df = kwh_df_hourly.join(mp, how='inner', lsuffix='kwh_df_hourly', rsuffix='mp')

full_df = full_df.drop('StartDatemp', axis=1)


#full_df.to_excel("consumptie_per_uur_marktprijs_2023.xlsx")

full_df

,StartDatekwh_df_hourly,Elektriciteit Consumptie (kWh),Blindverbruik Consumptie (kVARh),Elektriciteit Consumptie (kWh).1,Blindverbruik Consumptie (kVARh).1,Elektriciteit Consumptie (kWh).2,Blindverbruik Consumptie (kVARh).2,EndDate,marktprijs
0,2024-01-01 01:00:00,100.8,38.64,0,0.00,0,0.00,2024-01-01 02:00:00.0000000 +01:00,0.00001
1,2024-01-01 02:00:00,107.1,40.88,0,0.00,0,0.00,2024-01-01 03:00:00.0000000 +01:00,0.00000
2,2024-01-01 03:00:00,124.1,48.56,0,0.00,0,0.00,2024-01-01 04:00:00.0000000 +01:00,-0.00001
3,2024-01-01 04:00:00,96.8,36.96,0,0.00,0,0.00,2024-01-01 05:00:00.0000000 +01:00,-0.00003
4,2024-01-01 05:00:00,103.7,41.04,0,0.00,0,0.00,2024-01-01 06:00:00.0000000 +01:00,-0.00002
...,...,...,...,...,...,...,...,...,...
4362,2024-06-30 20:00:00,99.0,61.68,0,0.00,0,0.16,2024-06-30 21:00:00.0000000 +02:00,0.09990
4363,2024-06-30 21:00:00,137.5,61.76,0,0.08,0,0.00,2024-06-30 22:00:00.0000000 +02:00,0.10400
4364,2024-06-30 22:00:00,133.7,54.96,0,0.00,0,0.00,2024-06-30 23:00:00.0000000 +02:00,0.10728
4365,2024-06-30 23:00:00,140.0,62.64,0,0.00,0,0.00,2024-07-01 00:00:00.0000000 +02:00,0.09320
4366,2024-07-01 00:00:00,35.2,13.36,0,0.00,0,0.08,2024-07-01 01:00:00.0000000 +02:00,0.09473

In [9]:
# Select and multiply the relevant columns by the 'marktprijs' column
price_df = full_df[['Elektriciteit Consumptie (kWh)', 'Blindverbruik Consumptie (kVARh)', 'Elektriciteit Consumptie (kWh).1', 'Blindverbruik Consumptie (kVARh).1', 'Elektriciteit Consumptie (kWh).2', 'Blindverbruik Consumptie (kVARh).2']].multiply(full_df["marktprijs"], axis="index")

# Add the 'StartDatekwh_df_hourly' column to the resulting DataFrame
price_df['StartDatekwh_df_hourly'] = full_df['StartDatekwh_df_hourly']

# Move the 'StartDatekwh_df_hourly' column to the first position
first_column = price_df.pop('StartDatekwh_df_hourly')
price_df.insert(0, 'StartDatekwh_df_hourly', first_column)

# Show the resulting DataFrame
price_df

,StartDatekwh_df_hourly,Elektriciteit Consumptie (kWh),Blindverbruik Consumptie (kVARh),Elektriciteit Consumptie (kWh).1,Blindverbruik Consumptie (kVARh).1,Elektriciteit Consumptie (kWh).2,Blindverbruik Consumptie (kVARh).2
0,2024-01-01 01:00:00,0.001008,0.000386,0.0,0.00000,0.0,0.000000
1,2024-01-01 02:00:00,0.000000,0.000000,0.0,0.00000,0.0,0.000000
2,2024-01-01 03:00:00,-0.001241,-0.000486,-0.0,-0.00000,-0.0,-0.000000
3,2024-01-01 04:00:00,-0.002904,-0.001109,-0.0,-0.00000,-0.0,-0.000000
4,2024-01-01 05:00:00,-0.002074,-0.000821,-0.0,-0.00000,-0.0,-0.000000
...,...,...,...,...,...,...,...
4362,2024-06-30 20:00:00,9.890100,6.161832,0.0,0.00000,0.0,0.015984
4363,2024-06-30 21:00:00,14.300000,6.423040,0.0,0.00832,0.0,0.000000
4364,2024-06-30 22:00:00,14.343336,5.896109,0.0,0.00000,0.0,0.000000
4365,2024-06-30 23:00:00,13.048000,5.838048,0.0,0.00000,0.0,0.000000
4366,2024-07-01 00:00:00,3.334496,1.265593,0.0,0.00000,0.0,0.007578

In [10]:
#sommeren van de columns om tataal te krijgen. 


onbalans = total_sum * 0.00293
CvO = total_sum * 0.006
EH_opslagen = total_sum * 0.004

#print(onbalans)
#print(CvO)
#print(EH_opslagen)




Total_consumptie1 = price_df['Elektriciteit Consumptie (kWh)'].sum()
Total_consumptie2 = price_df['Elektriciteit Consumptie (kWh).1'].sum()
Total_consumptie3 = price_df['Elektriciteit Consumptie (kWh).2'].sum()

Total_kVARH1 =  price_df['Blindverbruik Consumptie (kVARh)'].sum()
Total_kVARH2 =  price_df['Blindverbruik Consumptie (kVARh).1'].sum()
Total_kVARH3 =  price_df['Blindverbruik Consumptie (kVARh).2'].sum()

print(Total_consumptie1)
print(Total_consumptie2)
print(Total_consumptie3)
print(Total_kVARH1)
print(Total_kVARH2)
print(Total_kVARH3)

levering_kaal = (Total_consumptie1 + Total_consumptie2 + Total_consumptie3 + Total_kVARH1 + Total_kVARH2 + Total_kVARH3)
print(levering_kaal)

prijs_totaal = (Total_consumptie1 + Total_consumptie2 + Total_consumptie3 + Total_kVARH1 + Total_kVARH2 + Total_kVARH3) + onbalans + CvO + EH_opslagen

prijs_round = prijs_totaal.round(2)
print(f'In het jaar 2024 met een marktprijscontract zouden de kosten voor Consumptie: € {prijs_round} zijn geweest')

27568.9336567
0.0
0.0
15270.456047808
0.6178208000000001
49.12294240000001
42889.130467708
In het jaar 2024 met een marktprijscontract zouden de kosten voor Consumptie: € 50645.39 zijn geweest