In [1]:
import pandas as pd
import openpyxl

In [2]:
df = pd.read_excel('2024_teruglevering.xlsx', skiprows=[0])
df

,Datum-tijd tot,Elektriciteit Productie (kWh),Blindverbruik Productie (kVARh),Elektriciteit Productie (kWh).1,Blindverbruik Productie (kVARh).1,Elektriciteit Productie (kWh).2,Blindverbruik Productie (kVARh).2
0,2024-01-01 01:00:00,0.0,0.0,0.0,0.3,0.0,0.5
1,2024-01-01 01:15:00,0.0,0.0,0.0,0.3,0.0,0.4
2,2024-01-01 01:30:00,0.0,0.0,0.0,0.3,0.0,0.5
3,2024-01-01 01:45:00,0.0,0.0,0.0,0.3,0.0,0.4
4,2024-01-01 02:00:00,0.0,0.0,0.0,0.3,0.0,0.5
...,...,...,...,...,...,...,...
17460,2024-06-30 23:00:00,0.0,0.0,0.0,0.3,0.0,0.5
17461,2024-06-30 23:15:00,0.0,0.0,0.0,0.2,0.0,0.4
17462,2024-06-30 23:30:00,0.0,0.0,0.0,0.3,0.0,0.5
17463,2024-06-30 23:45:00,0.0,0.0,0.0,0.2,0.0,0.4
17464,2024-07-01 00:00:00,0.1,0.0,0.0,0.3,0.1,0.6

In [3]:
nan_df = df.isna()
df_clean = df.fillna(0)
df_clean

#factor to multiply the kVARH columns with is 0.8 so:
columns_to_multiply = ['Blindverbruik Productie (kVARh)', 'Blindverbruik Productie (kVARh).1','Blindverbruik Productie (kVARh).2']
factor = 0.8

kwh_df = df_clean

for column in columns_to_multiply:
    kwh_df[column] = kwh_df[column] * factor

kwh_df

,Datum-tijd tot,Elektriciteit Productie (kWh),Blindverbruik Productie (kVARh),Elektriciteit Productie (kWh).1,Blindverbruik Productie (kVARh).1,Elektriciteit Productie (kWh).2,Blindverbruik Productie (kVARh).2
0,2024-01-01 01:00:00,0.0,0.0,0.0,0.24,0.0,0.40
1,2024-01-01 01:15:00,0.0,0.0,0.0,0.24,0.0,0.32
2,2024-01-01 01:30:00,0.0,0.0,0.0,0.24,0.0,0.40
3,2024-01-01 01:45:00,0.0,0.0,0.0,0.24,0.0,0.32
4,2024-01-01 02:00:00,0.0,0.0,0.0,0.24,0.0,0.40
...,...,...,...,...,...,...,...
17460,2024-06-30 23:00:00,0.0,0.0,0.0,0.24,0.0,0.40
17461,2024-06-30 23:15:00,0.0,0.0,0.0,0.16,0.0,0.32
17462,2024-06-30 23:30:00,0.0,0.0,0.0,0.24,0.0,0.40
17463,2024-06-30 23:45:00,0.0,0.0,0.0,0.16,0.0,0.32
17464,2024-07-01 00:00:00,0.1,0.0,0.0,0.24,0.1,0.48

In [5]:
#Optellen van het vebruik zodat het duidelijk is of de ramingen van ray eenigzins overeenkomen met de aangeleverde data.

Total_prod1 = kwh_df['Elektriciteit Productie (kWh)'].sum()
Total_prod2 = kwh_df['Elektriciteit Productie (kWh).1'].sum()
Total_prod3 = kwh_df['Elektriciteit Productie (kWh).2'].sum()

Total_kVARH1 =  kwh_df['Blindverbruik Productie (kVARh)'].sum()
Total_kVARH2 =  kwh_df['Blindverbruik Productie (kVARh).1'].sum()
Total_kVARH3 =  kwh_df['Blindverbruik Productie (kVARh).2'].sum()

print(Total_prod1)
print(Total_prod2)
print(Total_prod3)
print(Total_kVARH1)
print(Total_kVARH2)
print(Total_kVARH3)

Totaal_kwh = (Total_consumptie1 + Total_consumptie2 + Total_consumptie3 + Total_kVARH1 + Total_kVARH2 + Total_kVARH3)
print(f'Totaal aan kwh teruggeleverd: {Totaal_kwh}')

209140.381
114271.393
335068.267
6.800000000000002
2034.3200000000002
2939.84
Totaal aan kwh: 663461.0009999999

In [7]:
# Convert the datetime column
kwh_df['Datum-tijd tot'] = pd.to_datetime(kwh_df['Datum-tijd tot'])

# Add a new column with the rounded times to the nearest hour
kwh_df['Datum-tijd uur'] = kwh_df['Datum-tijd tot'].dt.floor('H')

# Aggregate the data by the new hour column
kwh_df_hourly = kwh_df.groupby('Datum-tijd uur').agg({
    'Elektriciteit Productie (kWh)': 'sum',
    'Blindverbruik Productie (kVARh)': 'sum',
    'Elektriciteit Productie (kWh).1': 'sum',
    'Blindverbruik Productie (kVARh).1': 'sum',
    'Elektriciteit Productie (kWh).2': 'sum',
    'Blindverbruik Productie (kVARh).2': 'sum'
}).reset_index()

# Rename the aggregated column for clarity
kwh_df_hourly.rename(columns={'Datum-tijd uur': 'StartDate'}, inplace=True)

# Show the resulting DataFrame
kwh_df_hourly

,StartDate,Elektriciteit Productie (kWh),Blindverbruik Productie (kVARh),Elektriciteit Productie (kWh).1,Blindverbruik Productie (kVARh).1,Elektriciteit Productie (kWh).2,Blindverbruik Productie (kVARh).2
0,2024-01-01 01:00:00,0.0,0.0,0.0,0.96,0.0,1.44
1,2024-01-01 02:00:00,0.0,0.0,0.0,0.96,0.0,1.44
2,2024-01-01 03:00:00,0.0,0.0,0.0,1.04,0.0,1.44
3,2024-01-01 04:00:00,0.0,0.0,0.0,0.96,0.0,1.52
4,2024-01-01 05:00:00,0.0,0.0,0.0,1.04,0.0,1.44
...,...,...,...,...,...,...,...
4362,2024-06-30 20:00:00,0.0,0.0,7.0,0.00,24.8,0.00
4363,2024-06-30 21:00:00,0.0,0.0,0.5,0.08,1.6,0.08
4364,2024-06-30 22:00:00,0.0,0.0,0.0,0.72,0.0,1.44
4365,2024-06-30 23:00:00,0.0,0.0,0.0,0.80,0.0,1.44
4366,2024-07-01 00:00:00,0.1,0.0,0.0,0.24,0.1,0.48

In [8]:
# Bereken de som van de specifieke kolommen
sum_columns = kwh_df_hourly[['Elektriciteit Productie (kWh)', 'Blindverbruik Productie (kVARh)', 
                             'Elektriciteit Productie (kWh).1', 'Blindverbruik Productie (kVARh).1', 
                             'Elektriciteit Productie (kWh).2', 'Blindverbruik Productie (kVARh).2']].sum()

# Bereken de totale som van alle kolommen
total_sum = sum_columns.sum()

# Toon de som van de kolommen en de totale som
print("Som van elke kolom:")
print(sum_columns)
print("\nTotale som van alle kolommen bij elkaar:")
print(total_sum)

Som van elke kolom:
Elektriciteit Productie (kWh)        209140.381
Blindverbruik Productie (kVARh)           6.800
Elektriciteit Productie (kWh).1      114271.393
Blindverbruik Productie (kVARh).1      2034.320
Elektriciteit Productie (kWh).2      335068.267
Blindverbruik Productie (kVARh).2      2939.840
dtype: float64

Totale som van alle kolommen bij elkaar:
663461.0009999999

In [9]:
mp = pd.read_csv('marktprijzen_2024.csv')

#mp["StartDate"] = mp["StartDate"].astype("datetime64[ns]")

mp

,StartDate,EndDate,marktprijs
0,2024-01-01 01:00:00.0000000 +01:00,2024-01-01 02:00:00.0000000 +01:00,0.00001
1,2024-01-01 02:00:00.0000000 +01:00,2024-01-01 03:00:00.0000000 +01:00,0.00000
2,2024-01-01 03:00:00.0000000 +01:00,2024-01-01 04:00:00.0000000 +01:00,-0.00001
3,2024-01-01 04:00:00.0000000 +01:00,2024-01-01 05:00:00.0000000 +01:00,-0.00003
4,2024-01-01 05:00:00.0000000 +01:00,2024-01-01 06:00:00.0000000 +01:00,-0.00002
...,...,...,...
5225,2024-08-05 19:00:00.0000000 +02:00,2024-08-05 20:00:00.0000000 +02:00,0.15134
5226,2024-08-05 20:00:00.0000000 +02:00,2024-08-05 21:00:00.0000000 +02:00,0.24523
5227,2024-08-05 21:00:00.0000000 +02:00,2024-08-05 22:00:00.0000000 +02:00,0.17093
5228,2024-08-05 22:00:00.0000000 +02:00,2024-08-05 23:00:00.0000000 +02:00,0.11994
5229,2024-08-05 23:00:00.0000000 +02:00,2024-08-06 00:00:00.0000000 +02:00,0.10275

In [10]:
# nu gaan we door naar de grote df join show

full_df = kwh_df_hourly.join(mp, how='inner', lsuffix='kwh_df_hourly', rsuffix='mp')

full_df = full_df.drop('StartDatemp', axis=1)


#full_df.to_excel("consumptie_per_uur_marktprijs_2023.xlsx")

full_df

,StartDatekwh_df_hourly,Elektriciteit Productie (kWh),Blindverbruik Productie (kVARh),Elektriciteit Productie (kWh).1,Blindverbruik Productie (kVARh).1,Elektriciteit Productie (kWh).2,Blindverbruik Productie (kVARh).2,EndDate,marktprijs
0,2024-01-01 01:00:00,0.0,0.0,0.0,0.96,0.0,1.44,2024-01-01 02:00:00.0000000 +01:00,0.00001
1,2024-01-01 02:00:00,0.0,0.0,0.0,0.96,0.0,1.44,2024-01-01 03:00:00.0000000 +01:00,0.00000
2,2024-01-01 03:00:00,0.0,0.0,0.0,1.04,0.0,1.44,2024-01-01 04:00:00.0000000 +01:00,-0.00001
3,2024-01-01 04:00:00,0.0,0.0,0.0,0.96,0.0,1.52,2024-01-01 05:00:00.0000000 +01:00,-0.00003
4,2024-01-01 05:00:00,0.0,0.0,0.0,1.04,0.0,1.44,2024-01-01 06:00:00.0000000 +01:00,-0.00002
...,...,...,...,...,...,...,...,...,...
4362,2024-06-30 20:00:00,0.0,0.0,7.0,0.00,24.8,0.00,2024-06-30 21:00:00.0000000 +02:00,0.09990
4363,2024-06-30 21:00:00,0.0,0.0,0.5,0.08,1.6,0.08,2024-06-30 22:00:00.0000000 +02:00,0.10400
4364,2024-06-30 22:00:00,0.0,0.0,0.0,0.72,0.0,1.44,2024-06-30 23:00:00.0000000 +02:00,0.10728
4365,2024-06-30 23:00:00,0.0,0.0,0.0,0.80,0.0,1.44,2024-07-01 00:00:00.0000000 +02:00,0.09320
4366,2024-07-01 00:00:00,0.1,0.0,0.0,0.24,0.1,0.48,2024-07-01 01:00:00.0000000 +02:00,0.09473

In [12]:
# Selecteer en vermenigvuldig de relevante kolommen met de 'marktprijs' kolom
price_df = full_df[['Elektriciteit Productie (kWh)', 'Blindverbruik Productie (kVARh)', 
                    'Elektriciteit Productie (kWh).1', 'Blindverbruik Productie (kVARh).1', 
                    'Elektriciteit Productie (kWh).2', 'Blindverbruik Productie (kVARh).2']].multiply(full_df["marktprijs"], axis="index")

# Voeg de 'StartDatekwh_df_hourly' kolom toe aan de resulterende DataFrame
price_df['StartDatekwh_df_hourly'] = full_df['StartDatekwh_df_hourly']

# Verplaats de 'StartDatekwh_df_hourly' kolom naar de eerste positie
first_column = price_df.pop('StartDatekwh_df_hourly')
price_df.insert(0, 'StartDatekwh_df_hourly', first_column)

# Toon de resulterende DataFrame
price_df

,StartDatekwh_df_hourly,Elektriciteit Productie (kWh),Blindverbruik Productie (kVARh),Elektriciteit Productie (kWh).1,Blindverbruik Productie (kVARh).1,Elektriciteit Productie (kWh).2,Blindverbruik Productie (kVARh).2
0,2024-01-01 01:00:00,0.000000,0.0,0.0000,0.000010,0.000000,0.000014
1,2024-01-01 02:00:00,0.000000,0.0,0.0000,0.000000,0.000000,0.000000
2,2024-01-01 03:00:00,-0.000000,-0.0,-0.0000,-0.000010,-0.000000,-0.000014
3,2024-01-01 04:00:00,-0.000000,-0.0,-0.0000,-0.000029,-0.000000,-0.000046
4,2024-01-01 05:00:00,-0.000000,-0.0,-0.0000,-0.000021,-0.000000,-0.000029
...,...,...,...,...,...,...,...
4362,2024-06-30 20:00:00,0.000000,0.0,0.6993,0.000000,2.477520,0.000000
4363,2024-06-30 21:00:00,0.000000,0.0,0.0520,0.008320,0.166400,0.008320
4364,2024-06-30 22:00:00,0.000000,0.0,0.0000,0.077242,0.000000,0.154483
4365,2024-06-30 23:00:00,0.000000,0.0,0.0000,0.074560,0.000000,0.134208
4366,2024-07-01 00:00:00,0.009473,0.0,0.0000,0.022735,0.009473,0.045470

In [17]:

onbalans = total_sum * 0.02957
#EH_opslagen = total_sum * 0.01026

print(onbalans)
#print(EH_opslagen)

# Bereken de totale consumptie en blindverbruik voor de aangepaste kolommen
Total_prod1 = price_df['Elektriciteit Productie (kWh)'].sum()
Total_prod2 = price_df['Elektriciteit Productie (kWh).1'].sum()
Total_prod3 = price_df['Elektriciteit Productie (kWh).2'].sum()

Total_kVARH1 = price_df['Blindverbruik Productie (kVARh)'].sum()
Total_kVARH2 = price_df['Blindverbruik Productie (kVARh).1'].sum()
Total_kVARH3 = price_df['Blindverbruik Productie (kVARh).2'].sum()

print(Total_prod1)
print(Total_prod2)
print(Total_prod3)
print(Total_kVARH1)
print(Total_kVARH2)
print(Total_kVARH3)

# Bereken de totale prijs
prijs_totaal = (Total_prod1 + Total_prod2 + Total_prod3 + Total_kVARH1 + Total_kVARH2 + Total_kVARH3) - onbalans # - EH_opslagen

# Rond de totale prijs af op 2 decimalen
prijs_round = round(prijs_totaal, 2)
print(f'In het jaar 2024 met een marktprijscontract zijn de opbrengsten voor teruglevering: â‚¬ {prijs_round} zijn geweest')

19618.541799569997
4959.32046825
4301.43206442
12562.446961900001
0.4894592000000001
137.6201072
206.47849040000006
In het jaar 2024 met een marktprijscontract zijn de opbrengsten voor teruglevering: â‚¬ 22167.79 zijn geweest